{%extends 'base.html'%}

{%block title%}Event{%endblock%}

{%block style%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/search.css'%}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
{%endblock%}

{%block content%}
<div class="main-content">
    <span class="page-topic">Search Event</span>
    <div>
        Please select the venue and time range
        <form method="POST" action="">
            {% csrf_token %}
            <section class="match-parallel"><label>Venue:</label> {{ form.venue }}</section>

            <div class="tRange">
                <section class="from-time input-field">
                    <label>Time Range:</label>
                    <input id="start" type="datetime-local" name="start_time">
                </section>

                <section class="to-time input-field">
                    <label>To:</label>
                    <input id="end" type="datetime-local" name="end_time">
                </section>
            </div>
            <button class="myBtn">Search</button>
        </form>
    </div>
</div>

<div class="search-result">
    <span style="font-family: 'Open Sans', sans-serif;">{{count}} result(s) is found.</span>
    {%for datum in event%}
    <div class="main-block block">
        <div class="flex-wrapper">
            <div class="event-block block sublock">
                <span class="block-header">Event</span>
                <span class="block-result">{{datum.0.event}}</span>
            </div>

            <div class="instructor-block  block sublock">
                <span class="block-header">Instructor</span>
                <span class="block-result">{{datum.0.instructor}}</span>
            </div>
        </div>

        <div class="time-block  block sublock">
            <span class="block-header">Time</span>
            <span class="block-result">{{datum.0.time_start}} - {{datum.0.time_end}}</span>
        </div>

        <div class="avg-block  block sublock">
            <span class="block-header">Average Temperature</span>
            {%if datum.1.temp__avg == None%}
            <span class="block-result">No Record</span>
            {%else%}
            <span class="block-result">{{datum.1.temp__avg}}</span>
            {%endif%}
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}