<html>
    <head>
        {%block title%}<title>Base</title>{%endblock%}
        {%load static%}
        <link rel="stylesheet" href="{%static 'css/base.css'%}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>
        <nav class="nav-bar">
            <ul>
                <li>D</li>
                <li>E</li>
                <li>T</li>
            </ul>
        </nav>
        <main class="content">
            {%block content%}
            <h1>This is base</h1>
            {%endblock%}
        </main>
    </body>
</html>