<!doctype html>
<html>

<head>
    <title>{%block title%}Base{%endblock%}</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/base.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%block style%}{%endblock%}
</head>

<body class="body">
    <nav class="nav-bar">
        <ul>
            <a href="{%url 'index'%}">
                <li class="nav-item">L<span class="hidden-text">IST</span></li>
            </a>
            <a href="{%url 'dashboard'%}">
                <li class="nav-item">D<span class="hidden-text">ASHBOARD</span></li>
            </a>
            <a href="{%url 'search'%}">
                <li class="nav-item">T<span class="hidden-text">IME EVENT</span></li>
            </a>
            <a href="#">
                <li class="nav-item">A<span class="hidden-text">NALYSIS</span></li>
            </a>
        </ul>
    </nav>
    <main class="content">
        {%block content%}
        <h1>This is base</h1>
        {%endblock%}
    </main>
</body>

</html>