<!doctype html>
<html>

<head>
    <title>{%block title%}Base{%endblock%}</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/base.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    {%block style%}{%endblock%}
</head>

<body class="body">
    <nav class="nav-bar">
        <ul>
            <a href="{%url 'index'%}" class="a-link">
                <li class="first-item"><span class="hidden-text navbar-title">GROUP 5</span>{%load static%}<img
                        src="{%static 'img/arrow.png'%}" id="arrow"></li>
            </a>
            <a href="{%url 'index'%}" class="a-link">
                <li class="nav-item">L<span class="hidden-text">IST</span></li>
            </a>
            <a href="{%url 'dashboard'%}" class="a-link">
                <li class="nav-item">D<span class="hidden-text">ASHBOARD</span></li>
            </a>
            <a href="{%url 'search'%}" class="a-link">
                <li class="nav-item">T<span class="hidden-text">IME EVENT</span></li>
            </a>
            <a href="{%url 'addEvent'%}" class="a-link">
                <li class="nav-item">N<span class="hidden-text">EW EVENT</span></li>
            </a>
            <a href="{%url 'analysis'%}" class="a-link">
                <li class="nav-item">A<span class="hidden-text">NALYSIS</span></li>
            </a>
        </ul>
    </nav>
    <main class="content">
        <div class="alert-box">
            <span id="alert-content" name="alert-content">Nothing :)</span>
        </div>
        {%block content%}
        <h1>This is base</h1>
        {%endblock%}

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript">
            setInterval(function(){
                console.log("hihihi");
                $.ajax(
                {
                    url:"{%url 'alert'%}",
                    success:function(data){
                        $('.alert-box').show();
                        $("#alert-content").text(data['alert_result']);
                        if(data['alert_result'] == "The object is moved!"){
                            $(".alert-box").css("background-color", " rgb(243, 40, 4)");
                            $(".alert-box").css("box-shadow", "0 0 15px rgb(255, 60, 0)");
                        }
                        else{
                            $(".alert-box").css("background-color", " grey");
                            $(".alert-box").css("box-shadow", "0 0 15px black");
                        }
                    }
                })
            }, 5000)
        </script>
    </main>

</body>

</html>