{%extends 'base.html'%}

{%block style%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/data.css'%}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
{%endblock%}

{%block content%}
<span class="page-topic">Data</span>

<form method="POST" action="" class="search-location">
  {%csrf_token%}
  {{form}}
  <button class="myBtn">Click~</button>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr class="table-header">
      <th scope="col" class="table-center">Node_id</th>
      <th scope="col" class="table-center">Location</th>
      <th scope="col" class="table-center">Temp</th>
      <th scope="col" class="table-center">Humidity</th>
      <th scope="col" class="table-center">Light</th>
      <th scope="col" class="table-center">Sound Level</th>
    </tr>
  </thead>
  <tbody>
    {%for datum in data%}
    <tr class="table-body">
      <th class="table-center">{{datum.node_id}}</th>
      <td class="table-center">{{datum.loc}}</td>
      <td class="table-center">{{datum.temp}}</td>
      <td class="table-center">{{datum.hum}}</td>
      <td class="table-center">{{datum.light}}</td>
      <td class="table-center">{{datum.snd}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}