{%extends 'base.html'%}

{%block style%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/data.css'%}">
{%endblock%}

{%block content%}
<table class="table">
    <thead class="thead-dark">
      <tr class="header">
        <th scope="col">Node_id</th>
        <th scope="col">Location</th>
        <th scope="col">Temp</th>
        <th scope="col">Humidity</th>
        <th scope="col">Light</th>
        <th scope="col">Sound Level</th>
      </tr>
    </thead>
    <tbody>
        {%for datum in data%}
        <tr>
            <th>{{datum.node_id}}</th>
            <td>{{datum.loc}}</td>
            <td>{{datum.temp}}</td>
            <td>{{datum.hum}}</td>
            <td>{{datum.light}}</td>
            <td>{{datum.snd}}</td>
        </tr>
        {%endfor%}
    </tbody>
  </table>
{%endblock%}