:root{
    font-size: 16px;
}

body{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

.nav-bar{
    position: fixed;
    width: 5rem;
    height: 100vh;
    background-color: orange;
    transition: width 200ms;
}

.nav-bar:hover{
    width: 15rem;
}

.content{
    padding: 1rem;
    margin-left: 5rem;
}