:root{
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
}

.body{
    background-color: rgb(248, 220, 184);
}

.nav-bar{
    position: fixed;
    width: 5rem;
    height: 100vh;
    background-color: orange;
    box-shadow: 0 0 10px rgb(110, 110, 110);
    transition: all 200ms;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 3rem;
    width: 100%;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.nav-bar ul a {
    text-decoration: none;
    color: rgb(39, 39, 39);
}

.nav-item{
    padding: 1rem;
}

.nav-bar:hover{
    width: 15rem;
}

.nav-bar:hover .hidden-text{
    display: inline;
}

.nav-bar:hover .nav-item{
    text-align: left;
}

.nav-item:hover{
    background-color: rgb(180, 117, 0);
    color: white;
}

.hidden-text{
    display: none;
}

.content{
    padding: 10rem;
    padding-top: 2rem;
    margin-left: 5rem;
    font-size: 2rem;
}

::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: #ffd904;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(245, 110, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.page-topic{
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
}

/* * Form CSS */
label{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

select, input{
    border-radius: 10px;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f3cd;
    border: none;
    box-shadow: 4px 3px 8px rgb(139, 139, 139);
}

input:focus{
    outline: none;
}

.myBtn{
    font-family: 'Bebas Neue', cursive;
    border-radius: 10px;
    padding: 0.1rem 1rem;
    font-size: 2.5rem;
    transition: all 200ms;
    background-color: rgb(255, 102, 0);
    border: none;
}

.myBtn:active, select:focus{
    outline: none;
}

.myBtn:hover{
    transform:scale(1.05, 1.05)
}

/* * Table */
.table-header{
    background-color: chocolate;
}

.table{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    border: none;
    box-shadow: 0 0 15px rgb(148, 148, 148);
    margin: 2rem 0;
}

.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th{
    border-color: rgb(77, 77, 77);
}

.table-center{
    text-align: center;
}

.table-body{
    background-color: rgb(246, 217, 164);
    transition: background-color 200ms;
}

.table-body:hover{
    background-color:rgb(185, 162, 119)
}