.page-topic{
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
}

.table-header{
    background-color: chocolate;
}

.table{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    border: none;
    box-shadow: 0 0 15px rgb(148, 148, 148);
    margin: 2rem 0;
}

.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th{
    border-color: rgb(77, 77, 77);
}

.table-center{
    text-align: center;
}

.table-body{
    background-color: rgb(246, 217, 164);
    transition: background-color 200ms;
}

.table-body:hover{
    background-color:rgb(185, 162, 119)
}