@media only screen and (min-width: 1050px){
    .flex-wrapper{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.main-content{
    font-family: 'Open Sans', sans-serif;
}

.input-field{
    width: 100%;
}

.tRange{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

#start, #end{
    width: 100%;
}

form{
    margin: 1rem 0;
}

.match-parallel{
    display: flex;
}

.match-parallel > *{
    margin: 0.5rem;
}

.match-parallel > *:first-child{
    margin-left: 0;
}

.match-parallel > *:last-child{
    margin-right: 0;
}


.block{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(79, 230, 129);
    padding: 3rem;
    transition: all 200ms;
    margin: 1rem;
}

.block-header{
    font-weight: bold;
}

.main-block{
    margin: 5rem;
    background-color: rgb(139, 228, 88);
    box-shadow: 4px 3px 10px rgb(146, 127, 92);

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.main-block:hover{
    background-color: rgb(255, 136, 0);
}

.main-block:hover>.flex-wrapper>.event-block, .main-block:hover>.flex-wrapper>.instructor-block, .main-block:hover>.avg-block, .main-block:hover>.time-block{
    background-color: rgb(236, 162, 52);
}

.sublock{
    padding: 1rem;
}

.event-block, .instructor-block{
    flex-grow: 1;
}

.event-block, .instructor-block, .time-block, .avg-block{
    box-shadow: inset 0 0 15px rgba(85, 85, 85, 0.493);
}
/* 
.main-block{
    margin: 5rem;
    background-color: rgb(139, 228, 88);
    box-shadow: 4px 3px 10px rgb(146, 127, 92);

    display: grid;
    grid-template-areas: 
    'a a' 
    'c c'
    'b d';
    gap: 2rem;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
}

.event-block{
    grid-area: a;
    box-shadow: inset 0 0 15px rgba(85, 85, 85, 0.493);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.instructor-block{
    width: 100%;
    box-shadow: inset 0 0 15px rgba(85, 85, 85, 0.493);
    grid-area: b;
}

.time-block{
    width: 100%;

    grid-area: c;
}

.avg-block{
    width: 100%;
    box-shadow: inset 0 0 15px rgba(85, 85, 85, 0.493);
    grid-area: d;
}
 */
