.main-content{
    font-family: 'Open Sans', sans-serif;
}

.input-field{
    width: 100%;
}

.tRange{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

#start, #end{
    width: 100%;
}

form{
    margin: 1rem 0;
}

.match-parallel{
    display: flex;
}

.match-parallel > *{
    margin: 0.5rem;
}

.match-parallel > *:first-child{
    margin-left: 0;
}

.match-parallel > *:last-child{
    margin-right: 0;
}


.match-parallel > select{
    margin-top: 5px;
    margin-bottom: 5px;
}